@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Estilo general y reset */
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f8fa;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
    min-block-size: 100vh;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #141518;
    --second-bf-color: #1e1e1e;
    /* 27292f */
    --text-color: #fff;
    --main-color: #f3ef52;
    --dev-color: #EDE9E9;
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
    --primary-color: #f3ef52;
    --dark-color: #141414;
    --light-color: #f4f4f4;
    --sidear-color-back: #ffffff;
    --common-white: #fff;
    --common-white-two: #fff;
    --common-black: #000;
    --theme-primary: #1b74e4;
    --theme-secondary: #fa5252;
    --body-text: #44566c;
    --body-heading: #000;
    --heading-black: #0f172a;
    --light-white: #f3f6f6;
    --light-white-2: #f8fbfb;
    --prink: #fff4f4;
    --catkrill: #eef5fa;
    --hover-bg-color: #fa5252;
    /* Color de fondo en hover */
    --bg-color2: #f5f5f5;
    /* Color de fondo inicial */

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-block-size: 100vh;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Barra de navegación: Cambia la posición de Home Contact.. */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 100;
    /*background-color: #fff;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    /*background: url('icons/back-ground.jpg') no-repeat center center;*/
    background: linear-gradient(100deg, #e7fcfa, #f1dcf7);
    background-size: cover;
    width: 100%;
}

/* Título portfolio*/
.logo {
    font-size: 32px;
    color: #fa5252;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    position: relative;
    /* NUEVO AGREGADO */
    animation: slideRight 1s ease forwards;
    text-decoration: none;
    padding-left: 100px;
}

/* Estilos para la barra de navegación */
.navbar {
    margin-right: 30rem;
    /* Para desplazar la barra a la izquierda */
    display: flex;
    /* Mostrar los enlaces en línea */
    gap: 30px;
    /* Espaciado entre los enlaces */
}

/* Estilos para los enlaces del navbar */
.navbar a {
    font-size: 1.2rem;
    color: var(--dark-color);
    background-color: #fff;
    /* Fondo claro inicial */
    padding: 1rem 3.2rem;
    border-radius: 10px;
    /* Bordes redondeados */
    transition: background-color .3s, color .3s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* Espaciado entre el ícono y el texto */
    text-decoration: none;
    /* Quitar subrayado */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Efecto hover en los enlaces del navbar */
.navbar a:hover {
    background: linear-gradient(100deg, #ff00aa, #fa5252);
    /* Fondo rosado al pasar el mouse */
    color: #fff;
    /* Texto blanco al pasar el mouse */
}

/* Enlace activo */
.navbar a.active {
    background: linear-gradient(100deg, #ff00aa, #fa5252);
    /*background: linear-gradient(100deg, #fa5252, #ff8c00);*/
    /* Degradé de rosa (#ff69b4) a naranja (#ff8c00) */
    /* Fondo rosado para la sección activa */
    color: #fff;
}

.bx-menu {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Ícono del menú */
#menu-icon {
    font-size: 3.2rem;
    color: var(--text-color);
    display: none;
}


/* ************************************************************** */
/*                     Profile                                    */
/* ************************************************************** */

.home-profile {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
}

#home-profile {
    display: flex;
    display: block;
}

.profile {
    width: 72vw;
    /* original width: 300px; */
    height: 60vh;
    /* original height: 85vh; */
    /*background-color: white;*/
    border-radius: 15px;
    padding: 30px 15px;
    position: relative;
    top: 4vh;
    left: 10vh;
    /* original left: 100px; */
    text-align: center;
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);-- Box Shadow del fondo blanco */
    height: fit-content;
    margin-top: 0.9vh;
}

.profile-pic {
    transition: .3s;
}

.profile-pic {
    border-radius: 100%;
    object-fit: cover;
    margin-top: -50px;
}

.info h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: #212121;
}

.info p {
    margin: 5px;
    font-size: 16px;
    color: #777;
}

.social-icons {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}

.social-icons a {
    /* Fondo de los íconos de red social */
    background-color: #f7f8fa;
    padding: 9px;
    /* Reducir el padding para los íconos sociales */
    border-radius: 20%;
    margin: 5px 5px 5px;
    display: inline-block;
    width: 18px;
    /* Reducir el tamaño del ícono */
    height: 18px;
    /* Reducir el tamaño del ícono */
}

.social-icons img {
    width: 18px;
    /* Reducir el tamaño del ícono */
    height: 18px;
    /* Reducir el tamaño del ícono */
}

.contact-info {
    background-color: #f7f8fa;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    max-width: auto;
}

.contact-info p {
    display: flex;
    align-items: left;
    font-size: 12px;
    text-align: left;
    color: #44566c;
}

.contact-info a {
    background-color: white;
    border-radius: 10%;
    display: inline-block;
    padding: 9px;
}

.contact-info img {
    /* iconos de contacto: acá podemos cambiar el fondo de los íconos */
    background-color: white;
    border-radius: 20%;
    display: inline-block;
    padding: 9px;
    margin-right: 10px;
    width: 18px;
    /* Reducir el tamaño del ícono */
    height: 18px;
    /* Reducir el tamaño del ícono */
}


/* Botón de descarga */
.download-cv {
    margin-top: 20px;
    padding: 10px 20px;
    background-image: linear-gradient(100deg, #ff00aa, #fa5252);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.download-cv img {
    vertical-align: middle;
    margin-right: 5px;
}

a[download] {
    padding: 5px;
    color: white;
    text-decoration: none;
}

.white {
    filter: invert();
    align-items: center;
    margin-right: 5px;
}

.download-cv:hover {
    color: #f7f8fa;
    background-image: linear-gradient(100deg, #fa5252, #ff00aa);
    /* border-style: dashed; */
}

.section {
    display: none;
    /* Hide all sections by default */
}

.section.active {
    display: block;
    /* Show the active section */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar a {
        padding: 10px 20px;
        border-bottom: 1px solid #f0f0f0;
    }

    .navbar.show {
        display: flex;
    }

    .bx-menu {
        display: block;
    }

    .profile {
        padding: 10px;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .info h1 {
        font-size: 20px;
    }

    .info p {
        font-size: 16px;
    }

    .contact-info p {
        font-size: 18px;
    }
}

/* *****************************************************************/
/* Section About */
/* *****************************************************************/

#home {
    display: flex;
    display: block;
}

.about-section {
    display: flex;
    align-items: flex-start;
    /* Alinea los elementos al inicio */
    gap: 30px;
    /* Espacio entre la imagen y el texto */
}

/* Estilo para la imagen */
.about-image img {
    width: 100%;
    /* Ancho de la imagen */
    max-width: 1350px;
    height: auto;
    /* Mantener la proporción */
    border-radius: 15px;
    /* Bordes redondeados */
    object-fit: cover;
    /* Ajustar la imagen */
    margin-top: 5px;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.contact-info div {
    margin-top: 10px;
}

/* Estilo para el contenido principal */
.about-content {
    /* margin-left: calc(270 + 120px); */
    margin-top: 0px;
    /*overflow-y: auto;*/
    /*max-width: 700px;*/
    background-color: var(--common-white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 68vw;
    margin-left: 10%;
    border-radius: 20px;
    flex: 3;
    /* Toma más espacio para el contenido del texto */
}


.about-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}

.about-content h3 {
    font-size: 20px;
    margin-bottom: 0.5px;
    position: relative;
}

.about-content p {
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
    color: #44566c;
}

.about-content h2::after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background-color: #1b74e4;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.section-about {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section-about .about-me,
.section-about .what-i-do-right {
    width: 48%;
}

.section-about h3 {
    font-size: 19px;
    margin-bottom: 15px;
    color: #1b74e4;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.section-about h3 svg {
    margin-right: 10px;
}

.item-data {
    background-color: #f7f8fa;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid transparent;
}

.about-me .item-data:nth-child(odd) {
    background-color: #fff4f4;
    border-left-color: #fff4f4;
}

.about-me .item-data:nth-child(even) {
    background-color: #eef5fa;
    border-left-color: #eef5fa;
}

.what-i-do-right .item-data:nth-child(odd) {
    background-color: #eef5fa;
    border-left-color: #eef5fa;
}

.what-i-do-right .item-data:nth-child(even) {
    background-color: #fff4f4;
    border-left-color: #fff4f4;
}

.item-data .title-about {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.item-data .subtitle-about {
    font-size: 13px;
    color: #888888;
    margin-bottom: 5px;
    margin-left: 35px;
    display: flex;
    align-items: left;
    text-align: left;
}

.item-data .title-about .Layer_1 {
    display: flex;
    align-items: left;
}

.item-data .location-about {
    font-size: 12px;
    color: #aaaaaa;
}


.tech-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-white-2);
    /* Color de fondo del rectángulo */
    /*Ver si dejo el rectángulo o no*/
    margin-top: 3rem;
    color: #fff;
    width: 68vw;
    padding: 30px;
    height: 40px;
}

.tech-img :hover {
    color: #fff;
}

.tech-img a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: transparent;
    font-size: 4rem;
    margin: 2rem 1.5rem 2rem 0;
    transition: .5s ease;
    opacity: 0;
    /* NUEVO AGREGADO */
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    color: #fff;
}

.home .tech-img img {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 50%;
    margin: auto;
    width: 50px;
    /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: 50px;
    margin: 0 30px;
    /* Espacio entre las imágenes */
    color: var(--main-color);
    background: transparent;
}

.scroller {
    max-width: 68vw;
    padding-top: 2rem;
    margin-left: 5%;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0;
    list-style: none;
    width: calc(100%);
    position: absolute;
}

.scroller__inner li {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: small;
    border-radius: 0.5rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 60s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}


.scroller__inner {
    display: flex;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.tech-img {
    transition: transform .2s;
}

.tech-img img:hover {
    transform: scale(1.4);
}

/* *****************************************************************/
/* Estilos Responsivos para la sección About */
/* *****************************************************************/

@media (max-width: 768px) {
    #home {
        display: block;
        padding: 10px;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about-image img {
        width: 100%;
        max-width: 250px;
        /* Limita el ancho de la imagen */
        height: auto;
        border-radius: 15px;
    }

    .about-text {
        align-items: center;
        text-align: center;
    }

    .about-content {
        width: 90%;
        /* Ajusta el ancho para pantallas pequeñas */
        margin: 20px auto;
        padding: 20px;
    }

    .about-content h2 {
        font-size: 24px;
        /* Reduce el tamaño del texto */
    }

    .about-content h3 {
        font-size: 18px;
    }

    .about-content p {
        font-size: 14px;
    }

    .section-about {
        flex-direction: column;
        /* Cambia la dirección del diseño a vertical */
        margin-top: 10px;
    }

    .section-about .about-me,
    .section-about .what-i-do-right {
        width: 100%;
        /* Elimina el ancho fijo para que ocupe todo el espacio */
        margin-bottom: 20px;
    }

    .tech-img {
        width: 100%;
        /* Ajusta el ancho */
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }

    .tech-img img {
        width: 40px;
        height: 40px;
        margin: 10px;
        /* Ajusta el tamaño de las imágenes */
    }

    .scroller {
        width: 90%;
        margin: 0 auto;
        padding: 2rem;
    }

    .scroller__inner {
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
    }

    .scroller__inner li {
        flex: 0 0 auto;
        padding: 0.5rem;
        font-size: small;
    }
}


/* *****************************************************************/
/* Section Resume */
/* *****************************************************************/
/* Estilos generales */
#resume-content {
    display: flex;
    display: block;
}


.content {
    /* margin-left: calc(270 + 120px); */
    margin-top: 0px;
    /*overflow-y: auto;*/
    /*max-width: 700px;*/
    background-color: var(--common-white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 68vw;
    margin-left: 10%;
    border-radius: 20px;
    flex: 3;
    /* Toma más espacio para el contenido del texto */
}


.content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}

.content h2::after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background-color: #1b74e4;
    position: absolute;
    left: 0;
    bottom: -5px;
}


.section-resume {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section-resume .education,
.section-resume .experience {
    width: 48%;
}

.section-resume h3 {
    font-size: 19px;
    margin-bottom: 15px;
    color: #1b74e4;
    display: flex;
    align-items: center;
}

.section-resume h3 svg {
    margin-right: 10px;
}

.item {
    background-color: #f7f8fa;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid transparent;
    border-right: 22px solid transparent;
    transition: transform .2s;
    align-items: center;
}

.item:hover {
    transform: scale(1.05);
}

.education h3 {
    font-weight: 500;
    color: #141414;
}

.experience h3 {
    font-weight: 500;
    color: #141414;
}

.education .item:nth-child(odd) {
    background-color: #fff4f4;
    border-left-color: #fff4f4;
}

.education .item:nth-child(even) {
    background-color: #eef5fa;
    border-left-color: #eef5fa;
}

.experience .item:nth-child(odd) {
    background-color: #eef5fa;
    border-left-color: #eef5fa;
}

.experience .item:nth-child(even) {
    background-color: #fff4f4;
    border-left-color: #fff4f4;
}

.item .title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.item .subtitle {
    font-size: 13px;
    color: #44566c;
    padding-bottom: 15px;
    display: flex;
    align-items: left;
    text-align: left;
}

.item .location {
    font-size: 12px;
    color: #888888;
}

.certifications-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-white-2);
    /* Color de fondo del rectángulo */
    /*Ver si dejo el rectángulo o no*/
    margin-top: 3rem;
    color: #fff;
    padding: 30px;
    width: 93vh;
    /*CORREGIR*/
    height: 150px;
    transition: transform .2s;
}

.certifications-img :hover {
    color: #fff;
    transform: scale(1.05);
}

.certifications-img a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    background: transparent;
    font-size: 4rem;
    margin: 2rem 1.5rem 2rem 0;
    transition: .5s ease;
    opacity: 0;
    /* NUEVO AGREGADO */
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    color: #fff;
}

.resume-content .certifications-img img {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 50%;
    margin: auto;
    width: 140px;
    /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: 140px;
    margin: 0 30px;
    /* Espacio entre las imágenes */
    color: var(--main-color);
    background-color: 0;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.certifications h3 {
    font-size: 19px;
    margin-bottom: 15px;
    color: #1b74e4;
    display: flex;
    align-items: center;
    font-weight: 500;
}

/* *****************************************************************/
/* Estilos Responsivos para la sección Resume */
/* *****************************************************************/

@media (max-width: 768px) {
    #resume-content {
        display: block;
        padding: 10px;
    }

    .content {
        width: 90%;
        /* Ajusta el ancho para pantallas pequeñas */
        margin: 20px auto;
        padding: 20px;
    }

    .content h2 {
        font-size: 24px;
        /* Reduce el tamaño del texto */
        margin-bottom: 15px;
    }

    .content h2::after {
        width: 100px;
        /* Reduce el ancho de la línea */
    }

    .section-resume {
        flex-direction: column;
        /* Cambia la dirección del diseño a vertical */
        margin-top: 10px;
    }

    .section-resume .education,
    .section-resume .experience {
        width: 100%;
        /* Elimina el ancho fijo para que ocupe todo el espacio */
        margin-bottom: 20px;
    }

    .section-resume h3 {
        font-size: 16px;
        /* Reduce el tamaño del texto */
        margin-bottom: 10px;
    }

    .item {
        padding: 10px;
        /* Reduce el padding para pantallas pequeñas */
        margin-bottom: 15px;
    }

    .item .title {
        font-size: 14px;
    }

    .item .subtitle {
        font-size: 12px;
    }

    .item .location {
        font-size: 11px;
    }

    .certifications-img {
        width: 100%;
        /* Ajusta el ancho */
        height: auto;
        padding: 20px;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .certifications-img img {
        width: 100px;
        height: 100px;
        margin: 15px;
        /* Ajusta el tamaño de las imágenes */
    }

    .certifications h3 {
        font-size: 18px;
        /* Reduce el tamaño del texto */
        margin-bottom: 10px;
    }
}

/* *****************************************************************/
/* Section Works */
/* *****************************************************************/

#works {
    display: flex;
    display: block;
}

.work-content {
    /* margin-left: calc(270 + 120px); */
    margin-top: 5px;
    /*overflow-y: auto;*/
    /*max-width: 700px;*/
    background-color: var(--common-white);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 68vw;
    margin-left: 10%;
    border-radius: 20px;
    flex: 3;
}


.work-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}

.work-content p {
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
    color: #44566c;
}

.work-content h2::after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background-color: #1b74e4;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.section-work {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section-work .work-portfolio,
.section-work .what-i-did {
    width: 48%;
}

.section-work h3 {
    font-size: 19px;
    margin-bottom: 15px;
    color: #1b74e4;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.item-work {
    background-color: #f7f8fa;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid transparent;
    border-right: 22px solid transparent;
    cursor: pointer;
    transition: transform .2s;
    align-items: center;
}

.item-work:hover {
    transform: scale(1.05);
}

.work-portfolio .item-work:nth-child(odd) {
    background-color: #fff4f4;
    border-left-color: #fff4f4;
}

.work-portfolio .item-work:nth-child(even) {
    background-color: #eef5fa;
    border-left-color: #eef5fa;
}

.what-i-did .item-work:nth-child(even) {
    background-color: #eef5fa;
    border-left-color: #eef5fa;
}

.what-i-did .item-work:nth-child(odd) {
    background-color: #fff4f4;
    border-left-color: #fff4f4;
}

.item-work .title-work {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.item-work .subtitle-work {
    font-size: 13px;
    color: #888888;
    padding-bottom: 15px;
    display: flex;
    align-items: left;
    text-align: left;
}

.item-work .title-work .Layer_1 {
    display: flex;
    align-items: left;
}

.item-work .location-work {
    font-size: 12px;
    color: #aaaaaa;
}

/* *****************************************************************/
/* Estilos Responsivos para la sección Works */
/* *****************************************************************/
@media (max-width: 768px) {
    #works {
        display: block;
        padding: 10px;
    }

    .work-content {
        width: 90%;
        /* Ajusta el ancho para pantallas pequeñas */
        margin: 20px auto;
        padding: 20px;
    }

    .work-content h2 {
        font-size: 24px;
        /* Reduce el tamaño del texto */
        margin-bottom: 15px;
    }

    .work-content h2::after {
        width: 100px;
        /* Reduce el ancho de la línea */
    }

    .section-work {
        flex-direction: column;
        /* Cambia la dirección del diseño a vertical */
        margin-top: 10px;
    }

    .section-work .work-portfolio,
    .section-work .what-i-did {
        width: 100%;
        /* Elimina el ancho fijo para que ocupe todo el espacio */
        margin-bottom: 20px;
    }

    .section-work h3 {
        font-size: 16px;
        /* Reduce el tamaño del texto */
        margin-bottom: 10px;
    }

    .item-work {
        padding: 10px;
        /* Reduce el padding para pantallas pequeñas */
        margin-bottom: 15px;
    }

    .item-work .title-work {
        font-size: 14px;
    }

    .item-work .subtitle-work {
        font-size: 12px;
    }

    .item-work .location-work {
        font-size: 11px;
    }

    .item-work:hover {
        transform: none;
        /* Desactiva la transformación de escala para evitar problemas en dispositivos táctiles */
    }
}



/* *****************************************************************/
/* Sección Contacto */
/* *****************************************************************/
.contact-content {
    background-color: var(--common-white);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 68vw;
    margin-left: 10%;
    border-radius: 20px;
    flex: 3;
}

.contact-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}

.contact-content p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #44566c;
}

.contact-content h2::after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background-color: #1b74e4;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.form-group {
    margin-bottom: 15px;
}

/* .form-group: Agrega un margen inferior para cada grupo de formulario,
separándolos visualmente. */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #1b74e4;
    outline: none;
}

/* .focus --> Cuando el usuario hace clic en un campo,
el borde cambia de color para indicar que está activo.*/

button {
    background: linear-gradient(100deg, #ff00aa, #fa5252);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background: linear-gradient(100deg, #fa5252, #ff00aa);
}

/* button:hover: Cambia el color de fondo cuando el ratón está sobre el botón,
mejorando la experiencia del usuario. */

/* *****************************************************************/
/* Estilos Responsivos para la sección Contacto */
/* *****************************************************************/
@media (max-width: 768px) {
    .contact-content {
        width: 90%;
        padding: 20px;
    }

    .contact-content h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}


/* **************************************************** */

/* Media Query para dispositivos más pequeños */
@media (max-width: 768px) {
    /*    .sidebar {
        width: 60px;
    }*/

    .about-content {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .home-content {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    /*   .profile {
        width: 250px;
        height: 80vh;
        left: 80px;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    .info h1 {
        font-size: 16px;
    }

    .info p,
    .contact-info p {
        font-size: 10px;
    }

    .download-cv {
        padding: 6px 12px;
        font-size: 11px;
    }

    .sidebar a {
        font-size: 11px;
    }*/

    .content {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .work-content {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .contact {
        flex: 0 0 auto;
        width: 70%;
    }

    .form-group input,
    .form-group textarea {
        width: 95%;
    }
}