/* Estilos Generales */
body {
    font-family: sans-serif;
    background-color: #1d2630;
    /* Color de fondo solicitado */
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;
    background-color: #2e3a46;
    /* Un tono más claro para el contenedor */
    padding: 30px;
    border-radius: 15px;
    /*    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);*/
    text-align: center;
}

h1,
h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

p {
    font-size: 1.1em;
}

/* Terminal */
#terminal {
    background-color: #1f2a34;
    /* Fondo de terminal más oscuro */
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    margin-top: 20px;
    /*    border: 1px solid #3e4a57; */
}

input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffff;
    border: 1px solid #1f2a34;
    color: white;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background-color: #e68900;
    ;
    /* Un color azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 10px;
}

button:hover {
    background-color: #365c7a;
    /* Color más oscuro al pasar el mouse */
}

#badges {
    margin-top: 20px;
    font-size: 1.2em;
}

#output {
    margin-top: 20px;
}

#output p {
    font-size: 1.1em;
    margin: 5px 0;
}

#output p.green {
    color: #4caf50;
}

#output p.red {
    color: #f44336;
}

#timer,
#score {
    font-size: 1.3em;
    font-weight: bold;
}

/* Botones para avanzar y reiniciar */
button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}